<div class="card text-center">
  <div class="card-header">
    <%= @publication.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @publication.title %></h5>
    <p class="card-text"><%= @publication.description %></p>
    <p class="card-text"><%= @publication.file_url %></p>
  </div>
</div>
