<h4>Begin your 9$/month subscription</h4>
<div>
  Enter your card details. </br>Your subscription will start now.
</div>
<p>
  → Total due now $9.00
</p>
<form id="subscription-form">
  <div class="form-group">
    <label for="name">Full name</label>
    <input id="name" type="text" class="form-control" placeholder="First and last name" required>
  </div>
  <div class="form-group">
    <label for="card-element">Card</label>
    <div id="card-element" class="MyCardElement">
    <!-- Elements will create input elements here -->
    </div>
    <!-- We'll put the error messages in this element -->
    <div id="card-errors"></div>
  </div>
  <%= csrf_meta_tags %>
  <button class="btn btn-primary" type="submit">Create subscription</button>
</form>

<style>
  /**
  * Shows how you can use CSS to style your Element's container.
  */
  .MyCardElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid #32a1ce;
    border-radius: 4px;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .MyCardElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .MyCardElement--invalid {
    border-color: #fa755a;
  }
  
  .MyCardElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
</style>

<%= javascript_pack_tag 'createSubscription.js' %>
